# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Data (geralmente grande; recomendo não versionar)
datasets/images/
datasets/mask/

solar-panel-segmentation-1/test
solar-panel-segmentation-1/train
solar-panel-segmentation-1/valid

#arquivos .pt
*.pt
